<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true">
  <appender name="STDOUT"
    class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned by default the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

<!-- RemoteHost can be set as ${host} refers per ex. to -Dhost=localhost
	    you can use more then one hosts: localhost, 10.42.42.42 -->
  <appender name="multiplex"
	    class="de.huxhorn.lilith.logback.appender.ClassicMultiplexSocketAppender">
    <Compressing>true</Compressing>
	    <!-- will automatically use correct default port -->
    <ReconnectionDelay>10000</ReconnectionDelay>
    <IncludeCallerData>true</IncludeCallerData>
    <RemoteHosts>localhost</RemoteHosts>
    <ApplicationIdentifier>${logback.application}</ApplicationIdentifier>
    <encoding>UTF-8</encoding>
  </appender>
  
  <root level="debug">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="multiplex" />
  </root>
</configuration>

