         ----
		 Welcome
		 ----
		 Daniel Steffen
		 ----
		 2011-09-19
		 ----

~~%{snippet|file=src/site/resources/snippets/cebit2014.html|verbatim=false}
		 
Welcome to GeoVisualizer

  Welcome to the GeoVisualizer project. The GeoVisualizer application provides 
the opportunity to visualizer different kinds of data and simulation results in 
a geographical three-dimensional context. The data types which are handled by the 
GeoVisualizer reach from 1-D data, e.g. georeferenced measurements of 
precipitation, to temporal 3-D datasets, e.g. 3-D air pollution time series. 
The GeoVisualizer is based on NASA's {{{http://goworldwind.org}World Wind SDK}}. 
Currently, we are using a customized version of the World Wind SDK ${WorldWindVersion}.

  The GeoVisualizer application includes different viewing modes, e.g. for 
large screens, stereoscopic displays, to enable the user to utilize such 
hardware and reach a higher level of immersion into, and understanding of, the 
data. To have a look at the GeoVisualizer application head for the Demo section.

[images/geovisualizer_001.jpg] The user interface of the GeoVisualizer 
application showing air quality measurements.  
  
Acknowledgment 

  The GeoVisualizer application was one challenging part of the European project 
{{{http://www.sudplan.eu}SUDPLAN}}.

  The GeoVisualizer application uses the {{{http://openiconlibrary.sourceforge.net/}Open Icon Library}}. 
For more information about the inividual licenses, please visit 
{{{http://openiconlibrary.sourceforge.net/LICENSES.html}here}}.