                 ----
		 Publications
		 ----
		 Daniel Steffen
		 ----
		 2013-06-06
		 ----

Publications

  The publications related to GeoVisualizer can be found here.

%{snippet|id=publications|file=${project.basedir}/src/site/resources/snippets/snippets.txt|verbatim=false}