<?xml version="1.0" encoding="utf-8"?>
<jnlp spec="1.0+" codebase="$codebase" href="$outputFile">
 <information>
    <title>Sudplan</title>
    <vendor>Deutsches Forschungszentrum für Künstliche Intelligenz (DFKI) GmbH</vendor>
    <homepage href="http://av.dfki.de"/>
    <description kind="one-line">Sudplan</description>
    <description kind="tooltip">Sudplan</description>
    <description kind="short">Sudplan</description>     
    <shortcut online="true">
      <desktop/>
      <menu submenu="Sudplan"/>
    </shortcut>
    <offline-allowed/>
 </information>
<!-- Does not work! see Exception Webstart -->
<!--<security>
 <all-permissions/>
 </security>-->
 <resources>
	<j2se version="1.6+" initial-heap-size="128m" max-heap-size="1024m" />
    <property name="jnlp.versionEnabled" value="true"/>
    $dependencies
	<extension href="http://download.java.net/media/java3d/webstart/release/java3d-latest.jnlp"/>
 </resources>
 </resources>
  <security>
    <all-permissions/>
  </security> 
 <application-desc main-class="$mainClass">
</application-desc>
</jnlp>
