body { 
    font-family: "Trebuchet MS";
    color: white;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:100%;
}

h1, h2, h3, h4, h5{
    background-color: #0f1416;
    border:0;
    color: #8FD2E4;
}
h2{
    margin:10px 0px}



a, a:link, a:visited{
    color: #8FD2E4;
    text-decoration:none;
    font-weight:bold;
}
a:hover{
    text-decoration:underline;
}

#navcolumn{
    color:black;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px; 
}


#navcolumn h5{
    color: #8FD2E4;
    border:0;
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 3px;	
    text-indent: 3px;
}
#navcolumn .none a{
    font-weight: normal ;
    color:white !important;
}
#navcolumn .collapsed a{
    font-weight: bold ;
    color:white !important;
}	

#navcolumn li.collapsed {
    background-image: url(../images/site-images/arrow-right.png);
    background-position:7px 3px;
}
#navcolumn li.expanded {
    background-image: url(../images/site-images/arrow-down.png);
    background-position:4px 3px;
}

#navcolumn .expanded{
    font-weight: bold;
    color:white !important;
}	

#navcolumn .none strong{
    font-weight: bold;
    color:white !important;
    text-decoration:underline;
}

#breadcrumbs{
    background-color: #8ab3f7;
}

#leftColumn{
    width: 180px;
}
.poweredBy{
    display:none;
}

/** ------------------------------------------------------ **/

html{
    height: 100% !important; 
    width: 100%; 
    border:0px; 
    margin:0px; 
    padding:0px;
    background: #000000 url(../images/site-images/bg.jpg) repeat-x;
}

.composite{
    width:980px; 
    margin:0 auto; 
    padding:5px 5px 20px;
}

#banner{
    width:960px; 
    height:80px; 
    margin:0 auto; 
    border:0;
}

#bannerLeft{
    width:66%; 
    float:left;
}

#bannerRight{
    width:33%; 
    float:right;
}

#breadcrumbs{
    width:940px; 
    margin:10px;	
    background-color:#0f1416;
}

#leftColumn{
    width:190px;
    margin:5px 5px 5px 10px;
    padding:5px;
    background-color:#0f1416;
    border:1px solid grey;
}

#bodyColumn{
    width:735px;
    float:right;
    margin:5px 10px 5px 5px;
    padding:5px;
    border:1px solid grey; 
    background-color:#0f1416;
}

#footer{
    width:auto;
    position:relative; 
    bottom:0px; 
    margin-top:20px;
    margin-right:auto;
    margin-left:auto;
}	

table.bodyTable {
    border-collapse: collapse;
    border-spacing: 1px;
    border: 1px solid grey;
}

table.bodyTable th{
    color: white;
    background-color: gray;
    text-align: left;
    font-weight: bold;
}

table.bodyTable tr.a {
    background-color: transparent;
}

table.bodyTable tr.b {
    background-color: transparent;
}

dl{
    background-color: black;
}

dl dd p {
    color:white;
}	

div#lastPublished{
    margin-top:20px;
    color:grey;}